.container {
    text-align: center;
}
.card {
    margin: 27px;
    background-color: lightseagreen;
}

.form-control {
    width: 380px;
    margin: auto;
}
li {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    background-color: lightsteelblue;
}

.submit-button {
    margin:30;
    padding-top: 10px;
    text-align: center;
}

.card-text {
    text-align: center;
}

.form-group {
    text-align: center;
}